.target-input {
  width: 400px;
}

.instructions {
  width: 400px;
  margin:auto;
}

.instructions ul{
  margin-top: 10px;
}

.instructions li{
  padding: 2px;
  text-align: left;
}

.title {
  width:550px;
  margin: auto;
}

p {
  font-size: 12px;
}
