body {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("https://community.nasdaq.com/uploadedimages/author/bbrooks/technology13.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
  font-weight: 200;
}

a { color: inherit; }

.container {
  margin-bottom: 20px;
  width: 100%;
}

.github-link {
  text-align: right;
  margin-top: 25px;
  padding-right:25px;
}

.logo {
  padding-left: 25px;
}

.listener {
  margin: 15px;
}

.target-input {
  width: 400px;
}

.instructions {
  margin-top: 20px;
}

.instructions-list {
  width: 400px;
  margin:auto;
}

.instructions-list ul{
  margin-top: 10px;
}

.instructions-list li{
  padding: 2px;
  text-align: left;
}

.input-field {
  padding-bottom:10px;
}
.title {
  width:550px;
  margin: auto;
}

.submit-btn {
  margin-bottom: 10px;
}

p {
  font-size: 14px;
}


